<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.consultancy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activities.AboutActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.DocumentDetailActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UniversityDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewZealandActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UsaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AustraliaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UniversityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ApplyFormActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.ConsultancyDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
    </application>

</manifest>